<div class="main-content">
  <div class="container-fluid">
    <div class="row button-group">
      <div class="col-md-6">
        <mat-form-field class="select-month" style="width: 180px;">
          <mat-label><i class="material-icons">date_range</i><span>Month</span></mat-label>
          <mat-select>
            <mat-option *ngFor="let month of months" [value]="month.value">
              {{month.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <button mat-raised-button class="btn add-new-btn blue-btn">
          <span>Add New</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card custom-chart-card card-chart">
          <div class="card-header">
            <h4 class="card-title">OVERAL STATISTICS</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <div class="rating left" style="padding-left: 20%">
                  <p>5.0</p>
                  <label>Rating</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="rating right">
                  <p>70</p>
                  <label>reviews</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div style="display: block; width: 260px; height: 200px; margin: auto;">
                  <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="pieChartOptions" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <ul class="second-chart">
              <li>Average users</li>
              <li>Average reviews</li>
            </ul>
            <h4 class="card-title"></h4>
          </div>
          <div class="card-body">
            <div id="colouredBarsChart" class="ct-chart"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <h3 class="card-title">Cumulative users</h3>
          </div>
          <div class="card-body">
            <div class="row detail-card-item">
              <img src="assets/img/design/person-icon.png">
              <p style="color: #6236FF;">2</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <h3 class="card-title">Cumulative users</h3>
          </div>
          <div class="card-body">
            <div class="row detail-card-item">
              <img src="assets/img/design/popular-icon.png">
              <p style="color: #B620E0;">25-34</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <h3 class="card-title">Cumulative users</h3>
          </div>
          <div class="card-body">
            <div class="row detail-card-item">
              <img src="assets/img/design/message-icon.png">
              <p style="color: #26C8F0;">40</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <h3 class="card-title">Cumulative users</h3>
          </div>
          <div class="card-body">
            <div class="row detail-card-item">
              <img src="assets/img/design/rate-icon.png">
              <p style="color: #20E0A5;">0.00 %</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="row logo-card">
              <img src="assets/img/design/gg_logo_2x.png">
              <div class="logo-card-text">
                <h4>Website Views</h4>
                <p>Last Campaign Performance</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="row logo-card">
              <img src="assets/img/design/facebook_logo_2x.png">
              <div class="logo-card-text">
                <h4>Website Views</h4>
                <p>Last Campaign Performance</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="row logo-card">
              <img src="assets/img/design/twiter_logo_2x.png">
              <div class="logo-card-text">
                <h4>Website Views</h4>
                <p>Last Campaign Performance</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>